<div class="basket-content">
  <div class="header">
    <h2>Basket</h2>
    <div class="toggle-container">
      <div
        class="toggle-switch"
        [class.collection]="selected() === 'collection'"
      >
        <div class="slider"></div>
        <button class="toggle-btn" (click)="setMode('delivery')">
          <span
            class="material-icons icon"
            [ngClass]="{ active: selected() === 'delivery' }"
            >delivery_dining</span
          >
          <span class="label">
            <strong>Delivery</strong>
            <small>20-45 min</small>
          </span>
        </button>
        <button class="toggle-btn" (click)="setMode('collection')">
          <span
            class="material-icons icon"
            [ngClass]="{ active: selected() === 'collection' }"
            >storefront</span
          >
          <span class="label">
            <strong>Collection</strong>
            <small>15 min</small>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="empty-cart">
    <img src="../../assets/img/basket.png" alt="" />
    <div style="align-items: center; display: flex; flex-direction: column">
      <h2>Fill your basket</h2>
      <p>Your basket is empty</p>
    </div>
  </div>
  <div class="cart-items"></div>
  <div class="cart-summary"></div>
</div>
