<div class="basket-content">
  <div class="header">
    <h2>Basket</h2>
    <div class="toggle-container">
      <div
        class="toggle-switch"
        [class.collection]="selected() === 'collection'"
      >
        <div class="slider"></div>
        <button class="toggle-btn" (click)="setMode('delivery')">
          <span class="icon">🚴‍♂️</span>
          <span class="label">
            <strong>Delivery</strong>
            <small>from 12:30</small>
          </span>
        </button>
        <button class="toggle-btn" (click)="setMode('collection')">
          <span class="icon">🛍️</span>
          <span class="label">
            <strong>Collection</strong>
            <small>from 11:30</small>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="empty-cart">
    <img src="../../assets/img/basket.png" alt="" />
    <h2>Fill your basket</h2>
    <p>Your basket is empty</p>
  </div>
  <div class="cart-items"></div>
  <div class="cart-summary"></div>
</div>
